<div id="step1" [hidden]="isWaveShown" #uploadSection>
    <p>Input an audio file:</p>

    <input
        type="file"
        id="input"
        (change)="handleFileUpload($event)"/>

    <br /><br />

    <a
        style="cursor: pointer;"
        id="playDefaultLink"
        (click)="playDemo()">Or click here to play the demo</a>
</div>

<div id="step2" [hidden]="!isWaveShown" #audioInput>
    <div class="audio-wrapper">
        <a
            (click)="toggleControls()"
            id="controlToggle">Controls</a>

        <br /><br />

        <audio controls id="audio" [hidden]="controlsEnabled" (ended)="audioEnded()" #audioSource>
            <source src="assets/sample1.mp3">
        </audio>
    </div>

    <canvas #waveCanvas id="canvas"></canvas>
</div>
